.MainContent {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-width: 5px;
    border-style: solid;
    border-color: yellow;
}